
.navbar-nav{
    list-style: none;
    
}

.nav-link{
    padding-left: 30px;
    padding-right: 30px;

}
.navbar-toggler{
    padding: 10px;
    margin-left: 5px;
}
.model-dialog{

    width: 30%;
}
.model-content{
    text-align: center;
}
