body{
    font-family: 'Lato';
}
.strip{
    min-height: 100vh;
    display: flex;
    text-align: center;
    overflow: hidden;
    color: white;
}
.strips-strip:nth-child(1){
    width: 20%;
}
.strips-strip:nth-child(2){
    width: 20%;
}
.strips-strip:nth-child(3){
    width: 20%;
}
.strips-strip:nth-child(4){
    width: 20%;
}
.strips-strip:nth-child(5){
    width: 20%;
}
.strips-strip:nth-child(1)
.strip-content {
    background: #244F75;
}
.strips-strip:nth-child(2)
.strip-content {
    background-color: #60BFBF;
}
.strips-strip:nth-child(3)
.strip-content{
    background-color: #8C4B7E; 
}

.strips-strip:nth-child(4)
.strip-content{
    background-color: #F8BB44;
}
.strips-strip:nth-child(5)
.strip-content{
    background-color: #F24B4B;
}
.strips-strip .strip-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.strips-strip {
    position: relative;
    width: 20%;
    min-height: 100vh;
    overflow: hidden;
    cursor: pointer;
}
.strip .strip-content:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
    transform: skew(30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strip .strip-content:hover:before {
    -webkit-transform: skew(0deg) scale(3) translate(0, 0);
            transform: skew(0deg) scale(3) translate(0, 0);
    opacity: 0.1;
  }